.vscode/
*.code-workspace
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env
.venv
build/
develop-eggs/
dist/
Thumbs.db
Desktop.ini
.DS_Store
.idea/
*.iml
.pycharm/
.mypy_cache/
.pytest_cache/
.coverage
.tox/
.nox/
.cache/